@media (max-width: 620px) {
    .tarot-slider {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecalho .titulo {
        font-size: 20px;
    }

    ul img {
        width: 290px;
        height: 320px;
    }
    
    .lista-cartas {
        width: 290px;
        height: 480px;
        position: relative;
    }

    .cartao .imagem-tarot {
        max-height: 230px;
        
    }
}