@media (max-width: 620px) {
    .tarot-slider {
        padding: 0 15px;
        gap: 5px;
    }

    .btn-seta {
        width: 10px;
        height: 50px;
        padding: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecalho .titulo {
        font-size: 20px;
    }

    ul img {
        width: 250px;
        height: 320px;
    }
    
    .lista-cartas {
        width: 320px;
        height: 530px;
        position: relative;
    }

    .btn-seta:hover {
        background-color: rgb(223, 173, 10);
    }

    .tarot-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
}